schematron/include/onderzoek.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" id="onderzoek">
   <sch:let name="onderzoek-ids"
            value="('peri22-dataelement-50010', 'peri22-dataelement-50020', 'peri22-dataelement-80754', 'peri22-dataelement-82068', 'peri22-dataelement-50021', 'peri22-dataelement-82228', 'peri22-dataelement-82229', 'peri22-dataelement-10814', 'peri22-dataelement-20242', 'peri22-dataelement-80978', 'peri22-dataelement-80952', 'peri22-dataelement-80953', 'peri22-dataelement-80954', 'peri22-dataelement-80955', 'peri22-dataelement-80956', 'peri22-dataelement-80957', 'peri22-dataelement-10812', 'peri22-dataelement-10813', 'peri22-dataelement-80951', 'peri22-dataelement-80992', 'peri22-dataelement-80993', 'peri22-dataelement-80994', 'peri22-dataelement-80995', 'peri22-dataelement-80996', 'peri22-dataelement-82074', 'peri22-dataelement-80961', 'peri22-dataelement-82075', 'peri22-dataelement-80962', 'peri22-dataelement-80964', 'peri22-dataelement-80965', 'peri22-dataelement-80967', 'peri22-dataelement-80968', 'peri22-dataelement-80969', 'peri22-dataelement-80970', 'peri22-dataelement-80971', 'peri22-dataelement-80972', 'peri22-dataelement-80973', 'peri22-dataelement-80974', 'peri22-dataelement-80975', 'peri22-dataelement-80976', 'peri22-dataelement-40051', 'peri22-dataelement-82077', 'peri22-dataelement-82080', 'peri22-dataelement-82082', 'peri22-dataelement-20243', 'peri22-dataelement-80977', 'peri22-dataelement-20612', 'peri22-dataelement-20613', 'peri22-dataelement-20614', 'peri22-dataelement-20615', 'peri22-dataelement-80616', 'peri22-dataelement-80618')"/>
   <sch:rule context="section[@type='onderzoek']//value">
      <sch:assert test="@concept=$onderzoek-ids" role="error">Id <sch:value-of select="@concept"/> (<sch:value-of select="@label/string()"/>) is niet toegestaan in section onderzoek.</sch:assert>
   </sch:rule>
</sch:pattern>
