schematron/section-types/include/anamnese.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" id="anamnese">
   <sch:let name="anamnese-ids"
            value="('peri22-dataelement-10590', 'peri22-dataelement-80623', 'peri22-dataelement-82001', 'peri22-dataelement-82002', 'peri22-dataelement-82040', 'peri22-dataelement-82041', 'peri22-dataelement-82214', 'peri22-dataelement-82004', 'peri22-dataelement-82005', 'peri22-dataelement-82337', 'peri22-dataelement-82315', 'peri22-dataelement-82316', 'peri22-dataelement-82317', 'peri22-dataelement-82318', 'peri22-dataelement-82319', 'peri22-dataelement-82320', 'peri22-dataelement-82321', 'peri22-dataelement-82322', 'peri22-dataelement-82323', 'peri22-dataelement-82324', 'peri22-dataelement-82325', 'peri22-dataelement-82326', 'peri22-dataelement-82327', 'peri22-dataelement-82328', 'peri22-dataelement-82329', 'peri22-dataelement-80708', 'peri22-dataelement-80837', 'peri22-dataelement-80838', 'peri22-dataelement-82336', 'peri22-dataelement-10598', 'peri22-dataelement-10601', 'peri22-dataelement-10602', 'peri22-dataelement-80674', 'peri22-dataelement-80710', 'peri22-dataelement-82113', 'peri22-dataelement-82043', 'peri22-dataelement-82044', 'peri22-dataelement-82352', 'peri22-dataelement-82128', 'peri22-dataelement-82129', 'peri22-dataelement-80712', 'peri22-dataelement-80702', 'peri22-dataelement-80705', 'peri22-dataelement-80706', 'peri22-dataelement-80989', 'peri22-dataelement-80990', 'peri22-dataelement-80624', 'peri22-dataelement-82341', 'peri22-dataelement-10604', 'peri22-dataelement-10605', 'peri22-dataelement-10606', 'peri22-dataelement-10607', 'peri22-dataelement-82046', 'peri22-dataelement-82047', 'peri22-dataelement-82215', 'peri22-dataelement-80997', 'peri22-dataelement-81000', 'peri22-dataelement-81002', 'peri22-dataelement-81004', 'peri22-dataelement-80717', 'peri22-dataelement-80678', 'peri22-dataelement-80617', 'peri22-dataelement-40020')"/>
   <sch:rule context="section[@type='anamnese']//value">
      <sch:assert test="@concept=$anamnese-ids" role="error">Id <sch:value-of select="@concept"/> (<sch:value-of select="@label/string()"/>) is niet toegestaan in section anamnese.</sch:assert>
   </sch:rule>
</sch:pattern>
