schematron/section-types/include/intake.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron" id="intake">
   <sch:let name="intake-ids"
            value="('peri22-dataelement-80627', 'peri22-dataelement-20290', 'peri22-dataelement-20340', 'peri22-dataelement-80664', 'peri22-dataelement-20355', 'peri22-dataelement-20305', 'peri22-dataelement-20010', 'peri22-dataelement-20150', 'peri22-dataelement-20153', 'peri22-dataelement-80617', 'peri22-dataelement-80678', 'peri22-dataelement-10810', 'peri22-dataelement-20030', 'peri22-dataelement-20040', 'peri22-dataelement-20050', 'peri22-dataelement-20055', 'peri22-dataelement-80669', 'peri22-dataelement-82160', 'peri22-dataelement-80819', 'peri22-dataelement-20020', 'peri22-dataelement-20025', 'peri22-dataelement-20130', 'peri22-dataelement-20140', 'peri22-dataelement-20060', 'peri22-dataelement-20070', 'peri22-dataelement-20080', 'peri22-dataelement-20091', 'peri22-dataelement-20095', 'peri22-dataelement-20100', 'peri22-dataelement-20102', 'peri22-dataelement-20103', 'peri22-dataelement-20170', 'peri22-dataelement-20210', 'peri22-dataelement-20220', 'peri22-dataelement-20211', 'peri22-dataelement-20212', 'peri22-dataelement-80686', 'peri22-dataelement-80675', 'peri22-dataelement-80676', 'peri22-dataelement-10808', 'peri22-dataelement-10809', 'peri22-dataelement-10810', 'peri22-dataelement-10811', 'peri22-dataelement-10816', 'peri22-dataelement-80939', 'peri22-dataelement-10803', 'peri22-dataelement-80680', 'peri22-dataelement-80675', 'peri22-dataelement-20305', 'peri22-dataelement-82275', 'peri22-dataelement-82167', 'peri22-dataelement-82152', 'peri22-dataelement-20261', 'peri22-dataelement-82153', 'peri22-dataelement-82011', 'peri22-dataelement-82009', 'peri22-dataelement-82010', 'peri22-dataelement-20270', 'peri22-dataelement-80642', 'peri22-dataelement-80672', 'peri22-dataelement-10800', 'peri22-dataelement-82102', 'peri22-dataelement-20320', 'peri22-dataelement-20331', 'peri22-dataelement-82164', 'peri22-dataelement-10023', 'peri22x-memo-intake', 'peri22x-memo-anamnese', 'peri22x-memo-zwangerschap', 'peri22x-memo-mdo', 'peri22x-memo-atermelijst')"/>
   <sch:rule context="section[@type='intake']//value">
      <sch:assert test="@concept=$intake-ids" role="error">Id <sch:value-of select="@concept"/> (<sch:value-of select="@label/string()"/>) is niet toegestaan in section intake.</sch:assert>
   </sch:rule>
</sch:pattern>
